.outer {
  background-color: #f4f4f4;
}
.inner {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
}

.innerPost {
  background-color: #ffffff;
  height: 120px;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
}

.outerclass {
  padding: 10px 10px 10px 40px;
  background-color: #f4f4f4;
}
.inner1 {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 12%;
  height: 35%;
  display: block;
}

.RecentCard {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  height: 30%;
  width: 80px;
  display: block;
  padding-left: auto;
  padding-right: auto;
}
.RecentCard h6 {
  padding-top: 25px;
}

.inner1 h5 {
  margin-top: 20%;
  text-align: center;
  position: relative;
}

.inner1 p {
  color: rgb(120, 113, 113);
  text-align: center;
  position: relative;
}
.companiesList {
  list-style-type: none;
  padding: 0%;
}
.companyName {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 18px;
  position: relative;
  top: -10px;
  font-style: bold;
  font-display: bold;
}
.companiesList div {
  margin-bottom: 5px;
}

.openingInfo {
  position: relative;
  left: 58px;
  top: -15px;
  font-size: 10px;
}

.inner3 {
  background-color: #ffffff;
  height: 50%;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  margin-left: 15px;
}
.newhead {
  margin-top: 10px;
}
.inner3 span {
  font-size: 14px;
  font-weight: bold;
}
.inner3 li p {
  font-size: 10px;
}

.showmore {
  border: 0px solid white;
  background: #ffffff;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  position: relative;
  top: 25px;
}
