.topnav {
  background-color: #004b7c;
  padding-bottom: 15px;
}

.navbar {
  background-color: #004b7c;
  overflow: auto;
  height: 65px;
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 6px;
  color: #bdbdbd;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: white;
}

.active {
  background-color: #4caf50;
}

.searchinput {
  float: left;
  margin-left: 10px;
  padding-left: 16px;
  border-radius: 5px;
  width: 20%;
  height: 70%;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
