.tileblock {
  margin: 1px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  height: auto;
  padding-top: 2px;
}

.namediv {
  text-align: left;
  padding-top: 10%;
}
.companydiv {
  float: bottom;
  text-align: left;
  padding-top: 7%;
}
.locationdiv {
}

/* .buttondiv {
  width: 100%;
} */
.recruiterName {
  font-size: 19;
  position: relative;
  left: 20px;
}

p {
  color: grey;
}
.profilepicture {
  position: relative;
  top: 19px;
}

.recruiterCompany {
  position: relative;
  left: 73px;
  top: -13px;
}
.locationName {
  position: relative;
  left: 68px;
  top: -28px;
}

.requestText {
  font-size: 8;
}
